%ul
  - @photos.each do |photo|
    %li
      %img{:src => photo["data"]["images"]["low_resolution"]["url"]}
      =photo["data"]["location"]["name"]
      |
      =photo["foursquare_venue"]["name"]
      |
      =photo["foursquare_venue"]["categories"][0]["name"]
