%div(data-role="header")
  %h1 Top Foodies
%div(data-role="content")
  %ul.ui-listview{"data-role" => "listview"}
    %li.ui-btn.ui-btn-up-c.ui-btn-icon-right.ui-li-has-arrow.ui-li.ui-li-has-count.ui-li-has-icon{"data-corners" => "false", "data-icon" => "arrow-r", "data-iconpos" => "right", "data-iconshadow" => "true", "data-shadow" => "false", "data-theme" => "c", "data-wrapperels" => "div"}
      .ui-btn-inner.ui-li
        .ui-btn-text
          %a.ui-link-inherit{:href => "index.html"}
            %img.ui-li-icon.ui-li-thumb{:alt => "France", :src => "images/gf.png"}
              Brad Feld
              %span.ui-li-count.ui-btn-up-c.ui-btn-corner-all 4
        %span.ui-icon.ui-icon-arrow-r.ui-icon-shadow  
    %li.ui-btn.ui-btn-up-c.ui-btn-icon-right.ui-li-has-arrow.ui-li.ui-li-has-count.ui-li-has-icon{"data-corners" => "false", "data-icon" => "arrow-r", "data-iconpos" => "right", "data-iconshadow" => "true", "data-shadow" => "false", "data-theme" => "c", "data-wrapperels" => "div"}
      .ui-btn-inner.ui-li
        .ui-btn-text
          %a.ui-link-inherit{:href => "index.html"}
            %img.ui-li-icon.ui-li-thumb{:alt => "Germany", :src => "images/de.png"}
              Jason Cavnar
              %span.ui-li-count.ui-btn-up-c.ui-btn-corner-all 4
        %span.ui-icon.ui-icon-arrow-r.ui-icon-shadow  
    %li.ui-btn.ui-btn-up-c.ui-btn-icon-right.ui-li-has-arrow.ui-li.ui-li-has-count.ui-li-has-icon{"data-corners" => "false", "data-icon" => "arrow-r", "data-iconpos" => "right", "data-iconshadow" => "true", "data-shadow" => "false", "data-theme" => "c", "data-wrapperels" => "div"}
      .ui-btn-inner.ui-li
        .ui-btn-text
          %a.ui-link-inherit{:href => "index.html"}
            %img.ui-li-icon.ui-li-thumb{:alt => "Great Britain", :src => "images/gb.png"}
              Friday Singleton
              %span.ui-li-count.ui-btn-up-c.ui-btn-corner-all 0
        %span.ui-icon.ui-icon-arrow-r.ui-icon-shadow  
