%div(data-role="header")
  %h1 Foodie Finder
%div(data-role="content")
  %h2
    - if @profiles
      Nice to see you again!
    - else
      Connect services find the best food nearby
  %ul
    %li
      %a(href="/auth/singly?service=foursquare" rel="external")
        %img(src="/images/foursquare.png")
    %li
      %a(href="/auth/singly?service=instagram" rel="external")
        %img(src="/images/instagram.png")
  %a(href="/feed" data-role="button") Top Spots from Foodies
